h1{
    font-size: xx-large;
}


body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgb(243,243,243);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    overflow-x: hidden;
}

header{
    width: 100%;
    top: 0%;
    left: 0%;
    height: 10vh;
    background-color: #243444;
    display: flex;
    align-items: center;
    
    
}

header img{
    height: 4vh;
    width: auto;
    margin-left: 20vw;
}


#section_estilosa {
    background-image: url('../img/Background.png'); /* Caminho ajustado */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#explore{
    background-color: #243444;
    text-align: left;
    padding: 3vw;
    font-size:large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: beige;
    font-weight: 500;
    width: 70vw;

    border-radius: 35px;
    line-height: auto;
    height:min-content;
    overflow: -moz-hidden-unscrollable;
    

    
}

#explore h1{
    color: #EC0444;
    font-weight: 700;
    margin-left: 4vw;
}

#explore p{
    margin-left: 4vw;
    margin-bottom: 10px;
}

#botão_inscreva-se{
    margin-left: 4vw;
    background-color: #EC0444;
    width: 10vw;
    text-align: center;
    border-radius: 35px;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: azure;
}
a:hover{
    color: black;
}

#botão_inscreva-se a{
    overflow: hidden;
    font-size: 1.5vw;

}
#titulo_de_section{
    color:#243444;
}

#laboratórios_section{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.lab_img{
    height: 20vh;
    width: auto;
    margin: 5px;
    border-radius: 35px;
    overflow: hidden;
}

.lab_texto{
    width: 30%;
    height: auto;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    overflow: hidden;
}

.background_verde{
    background-color: green;
}
.background_roxo{
    background-color: rgb(90, 20, 182);
}

.background_preto{
    background-color: black;
}

.background_cinza{
    background-color: gray;
}

.background_azul{
    background-color: blue;
}

.laboratórios{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    border-radius: 35px;
}

#coordenadora{
    margin-top: 30px;
    width: 100%;
    background-color: #243444;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quadrado_coordenadora{
    display: flex;
    align-items: center;
    background-color: rgb(20, 105, 179);
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 55px;
    width: 100%;

}

#foto_coordenadora{
    margin: 10px;
    border-radius: 55px;
    width: 30vw;
 
    height: auto;
}

#texto_coordenadora{
    max-width: 800px;
    height: auto;
    color: antiquewhite;
    font-size: large;
}


@media (max-width: 800px) {
    h1 {
        font-size:medium;
        margin-bottom: 5px;
    }
    #explore{
        font-size: 2vw;
        width: 50vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 100px;
        min-width: none;
        
    }
    #explore p{
        font-size: smaller;
    }

    #texto_coordenadora{
        font-size: smaller;
    }
    .laboratórios{
        flex-direction: column;

    }
    .lab_img{
        height: 10vh;
        width: auto;
    }
    .lab_texto{
        font-size: smaller;
        width: 70vw;
    }
    #quadrado_coordenadora{
        flex-direction: column;
    }
    #texto_coordenadora{
        font-size:10px;
        margin: 20px;
    }
  }
